*{
    margin: 0;
    padding: 0;
}
header,.menu{
    display: flex;
    justify-content: space-evenly;
}
header{
    align-items: center;
    text-transform: uppercase;
    padding: 1%;
}
.logo{
    display: flex;
    font-family: 'Squada One';
    font-size: 10px;
}
.logo img{
    padding-right: 5%;
}
.menu a{
    text-decoration: none;
    color: #333;
    font-family: 'Montserrat';
    font-size: 8px;
    margin-left: 6%;
}